/*书签栏自动隐藏样式<一>*/
#PersonalToolbar {
  transform: perspective(1000px) rotateX(-90deg);
  transform-origin: top !important;
  visibility: hidden !important;
  padding:2px 2px !important;
  height:auto !important;
  width: 101% !important;
  position: fixed !important; 
  background:-moz-linear-gradient(rgba(102,204,255,.8), rgba(255,255,255,.5)) !important;  /*位置，背景色*/
  opacity: 0;
  -moz-transition:  .3s ease-out !important;
  -moz-transition-delay: 0.8s!important;      /*设置多少秒bookmark消失*/
}
#nav-bar:hover ~ #PersonalToolbar,#PersonalToolbar:hover /*地址栏+标签栏为#navigator-toolbox:hover > */
{
  transform: rotateX(0deg);
  visibility: visible !important;
  opacity: 1;                               /*动画基于此参数*/
  -moz-transition: .1s ease-in !important;
  -moz-transition-delay: 0.3s!important;     /*设置多少秒后延迟出现*/
} 

/*书签栏自动隐藏样式<二>*/  
/*
#PersonalToolbar {
   width: 100% !important;
   position: fixed !important;
   margin-top: -30px !important;
   transition: .3s ease-out 3s!important;
   z-index: -1 !important;
   opacity: 0 !important;
   background:-moz-linear-gradient(rgba(102,204,255,.8), rgba(255,255,255,.5)) !important; 
}
#nav-bar:hover~#PersonalToolbar,#PersonalToolbar:hover{
   margin-top: 0 !important;
   transition: .1s ease-in 1s!important;
   z-index: 1  !important;
   opacity: 1 !important;
} 
*/

/*书签按钮下拉菜单宽度*/
/*#BMB_bookmarksPopup{
  min-width:220px !important;
	max-width:220px !important;
}*/	

/*书签项二级菜单宽度*/
.bookmark-item menuitem { 
	min-width:190px !important; 
	max-width:190px !important; 
 }	 

/* 添加和编辑书签时自动弹出面板 
#editBookmarkPanel [collapsed="true"],#editBMPanel_descriptionRow,#editBMPanel_locationRow { 
	visibility:visible !important
} 
#editBookmarkPanel *|*.textbox-input:-moz-placeholder {
	color:transparent !important;
	text-shadow:none !important;
} 
#editBMPanel_folderTree {
	min-height:15em !important;
} 
#editBMPanel_tagsSelector { 
	max-height:4em !important;
} 
#editBMPanel_descriptionField {
	max-height:3em !important;
}
*/

/*书签工具栏文件夹图标*/
#PersonalToolbar toolbarbutton[class="bookmark-item"][type="menu"],menu[container="true"][class="menu-iconic bookmark-item"] {
	list-style-image: url("../image/bookmark-toolbar-folder.svg") !important;
}	
/*书签文件夹图标及网站图标自动补全*/
menu.bookmark-item:not([query]):not([label="Bookmarks Toolbar"]) {
	list-style-image: url("../image/bookmark-folder.svg") !important;
}

/*自动隐藏文字标签
    toolbarbutton.bookmark-item[type="menu"] label,
    toolbarbutton.bookmark-item:not([type="menu"]) label
    { display: none !important; }
    toolbarbutton.bookmark-item[type="menu"]:hover label,
    toolbarbutton.bookmark-item:not([type="menu"]):hover label
    { display: block !important; }
*/
