/* =====菜单隐藏===== */
/*屏蔽Alt切换菜单*/
/*
 #toolbar-menubar[autohide="true"] {
	display:none !important;
}
*/

/*隐藏无效右键菜单
menuitem[disabled="true"] {
  display: none !important;
}*/
/*隐藏所有右键菜单分割线
menuseparator {
  display: none;
}*/
/*隐藏导航菜单*/
#context-navigation {
  display: none;
}

/*页面右键菜单*/
menu[label="Flagfox"],
#context-pocket,
#context-savepage,
#context-selectall,
#context-viewpartialsource-selection,
#context-sep-viewbgimage,
/*查看背景图形分割线*/
#context-sep-viewsource,
/*查看页面源代码分割线*/
/*#inspect-separator, 查看元素分割线*/
#screenshots_mozilla_org-menuitem-_create-screenshot,
#screenshots_mozilla_org_create-screenshot,
#frame[label="此框架"],
#FavIconReloader {
  display: none !important;
}

/*“发送到设备”右键*/
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
/*“发送到设备”右键*/
#context-sendlinktodevice,
#context-sep-sendlinktodevice,
#context_sendTabToDevice,
#context_sendTabToDevice_separator {
  display: none !important;
}

/*链接右键菜单*/
#context-openlinkincurrent,
#context-savelinktopocket,
#context-openlinkinusercontext-menu,
#context-openlinkprivate,
#context-openlink,
#context-sep-open,
#context-bookmarklink {
  display: none;
}

/*选中文字右键*/
/*#context-searchselect,*/
#spell-check-enabled,
#context-viewpartialsource-selection {
  display: none;
}

/*输入框右键*/
#spell-separator,
#spell-add-dictionaries-main,
/*新增字典*/
#context-sep-paste,
#spell-dictionaries,
/*语言-添加字典*/
#context-keywordfield {
  /*为此搜索添加关键字*/
  display: none;
}

/*图像右键菜单*/
#context-sep-copyimage,
/*复制图片下面的分割线*/
#context-sendimage,
/*发送图片到*/
#context-setDesktopBackground,
/*设置为桌面背景*/
#context-viewimageinfo {
  display: none;
}

/*H5视频右键菜单*/
#context-media-pause,
#context-media-mute,
#context-media-unmute,
#context-media-hidecontrols {
  display: none;
}

/*标签右键菜单*/
#mafMenuSaveTabsInArchive_tabsContextMenu,
#tabContextMenu>menuseparator:nth-child(6),
/*分割线1*/
/*#tabContextMenu > menuseparator:nth-child(10),分割线2*/
#tabContextMenu>menuseparator:nth-child(16),/*分割线3*/
/*#context_pinTab, #context_unpinTab,*/
#context_reloadTab,
#context_undoCloseTab,
#context_closeTab,
#printPages2Pdf-men_printThisTab,
#context_openTabInWindow,
#xnotifier-tabMenu {
  display: none;
}

/*书签右键菜单*/
#placesContext_open, #placesContext_ExportHTMLFolderSep, [command="placesCmd_open:tab"],
/*[class="openintabs-menuitem"],在标签页中打开书签组*/
[id="placesContext_openContainer:tabs"],/*在标签页中打开书签组*/
[id="placesContext_open:newprivatewindow"]/*在新隐私窗口中打开*/
  {
  display: none;
}

/*书签按钮菜单*/
#BMB_viewBookmarksSidebar+menuseparator,
#BMB_bookmarkThisPage,
#BMB_subscribeToPageMenuitem,
#BMB_subscribeToPageMenupopup,
#BMB_subscribeToPageMenupopup+menuseparator,
#BMB_bookmarksShowAllTop,
/* 管理所有书签（菜单上方） */
#BMB_bookmarksShowAllTop+menuseparator,
#BMB_pocket,
#BMB_pocket+menuseparator,
menu.subviewbutton:nth-child(9),
/*最常访问的书签*/
#BMB_viewBookmarksSidebar,
/* 显示书签侧栏 */
#BMB_bookmarksToolbar,
/* 书签工具栏  */
#BMB_unsortedBookmarks,
/* 其他书签 */
#BMB_unsortedBookmarks+menuseparator,
#BMB_mobileBookmarks,
/* 移动版书签 */
/*#BMB_bookmarksShowAll, */
/* 管理所有书签（菜单最下方）*/
#BMB_bookmarksPopup>menuseparator:first-of-type,
#BMB_bookmarksPopup>menuseparator:nth-of-type(2),
.menu-iconic.bookmark-item.subviewbutton[label="最近使用的书签"],
/*隐藏书签按钮最近使用的书签和标签*/
.menu-iconic.bookmark-item.subviewbutton[label="最近使用的标签"] {
  display: none !important
}

/*历史按钮菜单*/
#appMenuViewHistorySidebar,
#appMenuClearRecentHistory,
#sync-tabs-menuitem2,
#appMenuRestoreLastSession,
#PanelUI-recentlyClosedTabs-separator,
.restoreallitem.subviewbutton,
#PanelUI-historyItems,
#PanelUI-historyItems-separator,
.PanelUI-subView toolbarseparator:nth-child(3) {
  display: none !important;
}

/* 三道杠菜单 */
/*#appMenu-new-window-button,
#appMenu-private-window-button,*/
#appMenuRestoreLastSession,
#appMenu-mainView>vbox:nth-child(1)>toolbarseparator:nth-child(8),
#appMenu-zoom-controls,
#appMenu-mainView>vbox:nth-child(1)>toolbarseparator:nth-child(10),
#appMenu-edit-controls,
#appMenu-mainView>vbox:nth-child(1)>toolbarseparator:nth-child(12),
#appMenu-library-button,
#appMenu-addons-button,
/*#appMenu-preferences-button,
#appMenu-customize-button,*/
#appMenu-mainView>vbox:nth-child(1)>toolbarseparator:nth-child(19),
#appMenu-open-file-button,
#appMenu-save-file-button,
#appMenu-print-button,
#appMenu-mainView>vbox:nth-child(1)>toolbarseparator:nth-child(23),
#appMenu-find-button,
#appMenu-more-button,
#appMenu-developer-button,
/*#appMenu-mainView > vbox:nth-child(1) > toolbarseparator:nth-child(26),*/
#appMenu-help-button {
  display: none !important;
}

/* =====菜单调整===== */
/*粘贴并前往置顶*/
.textbox-contextmenu menuitem:not([anonid="paste-and-go"]),
.textbox-contextmenu menuseparator {
  -moz-box-ordinal-group: 2 !important;
}

menuitem[anonid="paste-and-go"] {
  -moz-box-ordinal-group: 1 !important;
}

/* =====菜单美化===== */
/*菜单选中区域样式*/
menupopup>menu[_moz-menuactive="true"],
menupopup>menuitem[_moz-menuactive="true"],
popup>menu[_moz-menuactive="true"],
popup>menuitem[_moz-menuactive="true"] {
  -moz-appearance: none;
  background: rgba(200, 255, 255, 0.2) !important;
  border: 1px solid #55BBEC !important;
}

menu,
menuitem:not([id="context-back"]),
splitmenu,
.splitmenu-menuitem {
  -moz-appearance: none !important;
  height: 24px !important;
  border: 1px solid transparent !important;
}

/*选中菜单的字体颜色*/
:-moz-any(menuitem, menu):hover> :-moz-any(.menu-text, .menu-iconic-text) {
  color: orangered !important;
}

/*tooltip*/
tooltip {
  -moz-appearance: none !important;
  background: white !important;
  opacity: 0.9 !important;
  border: 1px solid #55BBEC !important;
  border-radius: 0px !important;
}

tooltip label {
  color: #cc3333 !important;
  border-radius: 3px !important;
}

/*仿猎豹阴影*/
popup,
menupopup:not([id^="BMB"]):not([placespopup="true"]) {
  -moz-appearance: none !important;
  background: -moz-linear-gradient(rgb(249, 248, 248), rgb(249, 248, 248)) !important;
  background-clip: content-box !important;
  border-width: 32px 56px 58px !important;
  border-image: url(../../img/shadow.png) 32 56 58 !important;
  margin: -30px -55px -78px !important;
  border-width: 5px 10px 15px !important;
  margin: -5px -10px -15px !important;
  padding: 0px !important;
  -moz-border-top-colors: transparent !important;
  -moz-border-bottom-colors: transparent !important;
  -moz-border-left-colors: transparent !important;
  -moz-border-right-colors: transparent !important;
}

/*=====配合自定义菜单脚本(addMenuPlus.uc.js)=====*/
/*页面右键菜单*/
#context-viewbgimage,
/*查看背景图*/
#context-viewsource,
#context-viewinfo,
#inspect-separator,
/*分隔线*/
/*#xxxx + menuseparator,/*xxxx后面的分隔线*/
#context-inspect

/*查看元素*/
  {
  display: none !important;
}

/*链接右键菜单*/
/*#context-sep-copylink,*/
#context-openlinkintab,
#context-searchselect,
#context-savelink,
#context-copylink {
  display: none;
}

#context-viewimage,
#context-copyimage-contents,
#context-copyimage,
#context-saveimage {
  display: none;
}

/*标签右键菜单*/
#context_closeTabsToTheEnd,
#context_closeLeftTabs,
#context_closeOtherTabs,
#tabContextMenu>menuseparator:nth-child(22),
#tabContextMenu>menuseparator:nth-child(24),
#tabContextMenu>menuitem:nth-child(20) {
  display: none;
}



/*-----Favicon菜单图标修改 Favico Menu Change-----*/

[label="地址根目录"] {
  list-style-image: url("../../img/up.png") !important;
}

[label="地址上一层"] {
  list-style-image: url("../../img/back.png") !important;
}

[label="生成短网址"] {
  list-style-image: url("../../img/shorten.png") !important;
}

[label="http转https"] {
  list-style-image: url("../../img/lock.png") !important;
}

[label="生成二维码"] {
  list-style-image: url("../../img/qrcode.png") !important;
}

[label="进入阅读模式"] {
  list-style-image: url("../../img/reader.png") !important;
}

[label="阅读模式"] {
  list-style-image: url("../../img/reader.png") !important;
}

[label="查看页面信息"] {
  list-style-image: url("../../img/viewinfo.png") !important;
}

[label="谷歌缓存查询"] {
  list-style-image: url("../../img/server.png") !important;
}

[label="搜索共享帐号"] {
  list-style-image: url("../../img/lastpass.png") !important;
}

[label="网站综合信息"] {
  list-style-image: url("../../img/info.png") !important;
}